*{
	margin: 0;
	padding: 0;
}

a{text-decoration:none} 

body{
   	font-family: Sans-Serif;
   	background: #e6e6e6;
}

#header{
	margin: 0px 30px;
	width: 1000px;
}
ul, ol{
	list-style: none;
}
.nav li a{
	background-color: #6EB643;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	font: bold 100% Sans-Serif;
}

.nav li a:hover{
	background-color: #434343;
}

.nav > li{
	float: left;
}
.nav li ul{
	display: none;
	position: absolute;
	z-index: 3;
	min-width: 140px;
}
.nav li:hover > ul{
	display: block;
}
.nav li ul li{
	position: relative;

}
.nav li ul li ul{
	right: -140px;
	top: 0px;
}

#portada{
	position: relative;
	height: 40px;
	background: #6EB643;
	top: 0px;
	opacity: 1;
}

#portada img{
	position: absolute;
}

.titulo {
	position: relative;
	top: 10px;

}
.titulo h1{
	position: relative;
	background: #81bbfc;
	z-index: 1;
	left: 10px;
	height: 40px;
	width: 830px;
	padding: 0px 10px;
	color: black;
	font-family: Bree;
	font-variant-position: center;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}
.titulo img{
	position: absolute;
	padding: 20px 200px 10px;
}
#galeria img:hover{
	transform : scale(2);
    -moz-transform : scale(2);      /* Firefox */
    -webkit-transform : scale(2);   /* Chrome - Safari */
    -o-transform : scale(2);
    transition: width 2s, height 2s, transform 2s;
    -moz-transition: width 2s, height 2s, -moz-transform 2s;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
    -o-transition: width 2s, height 2s,-o-transform 2s;  
}

#galeria{
	top: 20px;
	left: 10px;
	position: relative;
	z-index: 2;
}

#imagen1{
	position: absolute;
	top: 350px;
	left: -100px;
}
#imagen1 img:hover{
	opacity: 0.5;
}
#imagen2{
	position: absolute;
	top: 350px;
	left: 0px;
}
#imagen2 img:hover{
	opacity: 0.5;
}
#imagen3{
	position: absolute;
	top: 350px;
	left: 100px;
}
#imagen3 img:hover{
	opacity: 0.5;
}

#precio{
	position: absolute;
	background: orange;
	width: 200px;
	height: 40px;
	top: 370px;
	left: 600px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}
#precio h2{
	padding: 5px 20px;
}

#anunciante{
	position: relative;
	background: #b1b6cd;
	left: 900px;
	width: 400px;
	height: 400px;
}
#anunciante h1{
	position: relative;
	padding: 5px 15px 5px 15px;
}
#anunciante h2{
	position: relative;
	background: #b1a5cd;
	width: 130px;
	padding: 5px 15px 5px 15px;
}
#anunciante font{
	position: relative;
	background: #b1b6ee;
	top: 5px;
	color: black;
	padding: 5px 30px 10px;
}
#anunciante font:hover{
	opacity: 0.5;
}
#anunciante input{
	position: relative;
	left: 40px;
	top: 10px;
	margin: 10px;
	color: black;
	padding: 10px 40px 10px;
}
#sent{
	position: relative;
	background: #96eb18;
	top:20px;
	left: 140px;
	width: 120px;
	height: 50px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}
#sent h1{
	position: relative;
	padding: 5px 10px 5px 10px;
}
.detalles{
	position: relative;
	margin: 10px;
	background: #fff;
	top: 20px;
	width: 850px;
	height: 300px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}
.detalles p{
	padding: 15px 15px 15px 15px;
}
.detalles table{
	position: relative;
	border: orange 5px solid;
	left: 100px;
	width: 700px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}



